#contact_modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  bottom: 0;
  top: 0;
  text-align: center;
    border-radius: 5px;
    background-color: #DB8876;
    width: 500px;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
}

.modal-title {
  margin-top: 40px;
  justify-content: space-around;
  width: 100%;
  font-size: 14px;
}

.close-button {
  background-color: #DB8876;
  border: none;
  margin-top: -40px;
}

.modal form {

  width: 90%;
 
}

.modal-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
   
}

.modal-message {
  height: 100px;
  text-align: start;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 48px;
    font-weight: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start
}

form label {
    color: #312E2E;
    font-size: 36px;
}

.margin-top {
  margin-top: 30px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.error-msg {
  color: red
}





main {
 display: flex;
 flex-direction: column;
 align-content: center;
}

.photograph-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.photograph-header {
  margin-bottom: 200px;
 }

 .header-1 {
  margin-left: 30px;
 }

 .header-1 h2 {
  color: #D3573C
 }
 .header-1 p {
  color: #901C1C
 }


 .header-2 {
  margin-right: 30px;
 }

 .overlay-like-price {
  background-color: #DB8876;
  min-width: 250px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  
  color: #000000;
 }
 
 .black-heart {
  margin-left: -40px;
  margin-top: 10px;
 }
 .photograph-header img {
   height: 200px;
   width: 200px;
   object-fit: cover;
   border-radius: 100%;
   box-shadow: 0px 0px 2px grey; }
 
.list-photograph{
  margin-top: 40px;
  height: 600px;
  width: 25%;
}
 
.grid-photograph {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  width: 100%;

}

.list-photograph {
    max-width: 25rem;
    min-width: 25rem;
    height: 18rem;
    padding: 2rem;
    flex-basis: 33%;
    color: #901C1C;
}

.thumbnail-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  /* object-position: top; */
  cursor: pointer;
  border-radius: 4px;
  
}

/* .thumbnail-image:hover {
  transform: scale(1.05);

}

:focus {
  transform: scale(1.05);
} */

video {
  width: 150px;
  height: 150px;
 }

.photo-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  width: 65%;
}

.likes {
  margin-left: 20px;
}
.photo-data{
 display: flex;
}


.button-img {
  height: 100%;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;

}

.like-button  {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: #901C1C;
  cursor: pointer;
}


.photo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
/*  width: 90%; */
}

.sort {
  position: absolute;
  display: flex; 
  flex-direction: row;
 
  margin-left: 40px;
  

}

.sort p {
  padding-top: 12px;
  font-weight: bold;
  font-size: 20px;
}

.sort-option {
  list-style: none;
  background-color:#901C1C;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
 

}

.zindex {
  z-index: 9999
}


.hide {
  display: none;
  border-top: 1px solid white;
  padding-top: 15px;
}

.hide-img .arrow {
  display: none;
}





ul {
  width: 120px;
  padding-top : 10px;
  padding-bottom: 10px
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  width: 120px;
  margin-top: 6px;
}

.border {
  border-top: 2px solid white;
  padding-top: 15px;
}





.sort-option img {
  transform: rotate(270deg);
  padding-right: 0px;
  height: 16px;
  width: 21px;
}



.hidden {
  display: none;
}